@import "tailwindcss";

@keyframes xp-slide {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(320%);
  }
}

.animate-xp-slide {
  animation: xp-slide 1300ms linear infinite;
}

@keyframes xpBarMove {
  0% {
    left: -40px;
  }

  100% {
    left: 100%;
  }
}

.animate-xp-bar {
  animation: xpBarMove 2s linear infinite;
}

@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-slide-up {
  animation: slideUp 0.1s ease-out;
}